.user-profile-wrapper {
  width: 500px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #000;
  border-radius: 10px;
  padding: 30px 40px;
  margin: 50px auto;
}

.user-profile-title {
  font-size: 36px;
  text-align: center;
  color: #000;
}

.user-profile-avatar-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
  margin-top: 16px;
}

.user-profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.user-profile-avatar-placeholder {
  font-size: 150px;
  color: #ccc;
}

.user-profile-input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 14px 0;
}

.user-profile-input-box input[type="text"],
.user-profile-input-box input[type="date"] {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #000;
  padding: 20px 45px 20px 20px;
}

.user-profile-input-box input::placeholder {
  color: #000;
}

.user-profile-input-box input[readonly] {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.user-profile-input-box input[type="file"] {
  border: none;
}

.user-profile-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #000;
}

.btn-home {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #000;
}

.btn-home:hover {
  color: #007bff;
}

.btn-submit {
  width: 100%;
  height: 45px;
  background: #000;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

.user-profile-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
  color: #000;
}

.user-profile-link p a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.user-profile-link p a:hover {
  text-decoration: underline;
}
.manager-page-profile {
  text-align: center;
  display: flex;
  flex-direction: row; /* Changed to row for elements to be side by side */
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #f8f3ed;
  background-size: cover;
  background-position: center;
  padding-bottom: 0px;
}

.submit-button-ship {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
}

.submit-button-ship {
  --color: #16bf10;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 .submit-button-ship:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .submit-button-ship:hover {
  color: #fff;
 }
 
 .submit-button-ship:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .submit-button-ship:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .submit-button-ship:active:before {
  background: #4ebe2e;
  transition: background 0s;
 }

.close-button-ship {
  --color: #cb1717;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 .close-button-ship:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .close-button-ship:hover {
  color: #fff;
 }
 
 .close-button-ship:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .close-button-ship:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .close-button-ship:active:before {
  background: #c31414;
  transition: background 0s;
 }

 .detail-button-shipping {
  --color: #10b534;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 .detail-button-shipping:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .detail-button-shipping:hover {
  color: #fff;
 }
 
 .detail-button-shipping:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .detail-button-shipping:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .detail-button-shipping:active:before {
  background: #48ca11;
  transition: background 0s;
 }


 .reject-button {
  --color: #ff0000;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 .reject-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .reject-button:hover {
  color: #fff;
 }
 
 .reject-button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .reject-button:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .reject-button:active:before {
  background: #e80101;
  transition: background 0s;
 }