.change-password {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .change-password h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
    font-size: 1.5em;
  }
  
  .change-password form {
    display: flex;
    flex-direction: column;
  }
  
  .change-password input {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    color: #040404;
    font-size: 1em;
  }
  
  .change-password button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 1em;
    cursor: pointer;
  }
  
  .change-password button:hover {
    background-color: #45a049;
  }
  
  .toggle-password {
    display: flex;
    align-items: center;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 8px; /* Adjust the spacing between the checkbox and the text */
  }
  
  
  