.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Bao phủ toàn bộ chiều cao của cửa sổ */
  width: 100vw; /* Bao phủ toàn bộ chiều rộng của cửa sổ */
  background-color: aliceblue;
  background-size: cover;
  background-position: center;
  padding-bottom: 50px; /* Khoảng cách phía dưới để tránh footer che phủ nội dung */
}

.Head {
  width: 100%;
}

.Slideshow {
  width: 100%; /* Đảm bảo Slideshow không vượt quá chiều rộng của nội dung cha */
  max-height: 380px; /* Đặt chiều cao tối đa cho Slideshow, có thể điều chỉnh tùy ý */
  margin: 0 auto; /* Canh giữa Slideshow */
  top: 120px; /* Đặt dưới Header, giá trị này phải bằng với chiều cao của Header */
}

.main-content {
  display: flex;
  flex-grow: 1; /* Đảm bảo phần main-content chiếm hết không gian còn lại giữa Header và Footer */
  width: 100%;
}

.Sidebar {
  flex: 0 0 250px; /* Đặt chiều rộng cố định cho Sidebar */
}

.content {
  flex-grow: 1;
  margin: 20px;
}
