#designstaff-sidebar {
  width: 260px;
  max-height: 100%; /* Chiều cao của sidebar bằng chiều cao của viewport */
  padding: 20px;
  background-color: #f8f3ed;
  transition: width 0.3s ease;
  border-radius: 15px;
  overflow-y: auto; /* Cho phép cuộn thanh sidebar nếu nội dung vượt quá */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cho phép cuộn thanh sidebar nếu nội dung vượt quá */
}

.designstaff-sidebar-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.designstaff-avatar-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  margin-top: 10px;
}

.designstaff-user-details {
  text-align: center;
}

.designstaff-user-name {
  font-size: 18px; /* Tăng kích thước font chữ để khớp với ManagerSidebar */
  font-weight: bold;
  margin-bottom: 3px;
  color: #333;
}

.designstaff-user-role {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.designstaff-sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.designstaff-sidebar-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Đặt lại text-indent nếu đã có */
}

.designstaff-sidebar-list-item a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.designstaff-sidebar-list-item a:hover {
  background-color: #ddd;
}

.designstaff-menu-icon {
  display: none;
}

.designstaff-sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.designstaff-sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.designstaff-logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.designstaff-logo-image {
  width: 200px;
  height: auto;
}
