#salestaff-sidebar {
  width: 260px;
  max-height: 100%; /* Chiều cao của sidebar bằng chiều cao của viewport */
  padding: 20px;
  background-color: #f8f3ed;
  transition: width 0.3s ease;
  border-radius: 15px;
  overflow-y: auto; /* Cho phép cuộn thanh sidebar nếu nội dung vượt quá */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.salestaff-sidebar-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.salestaff-avatar-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  margin-top: 10px;
}

.salestaff-user-details {
  text-align: center;
}

.salestaff-user-name {
  font-size: 18px; /* Tăng kích thước font chữ để khớp với ManagerSidebar */
  font-weight: bold;
  margin-bottom: 3px;
  color: #333; /* Sử dụng màu chữ giống ManagerSidebar */
}

.salestaff-user-role {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.salestaff-sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.salestaff-sidebar-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.salestaff-sidebar-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  background: none;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.salestaff-sidebar-button:hover {
  background-color: #ddd;
}

.salestaff-sidebar-list-item.active .salestaff-sidebar-button {
  background-color: #f0f0f0;
}

.salestaff-icon {
  margin-right: 10px;
}

.salestaff-logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.salestaff-logo-image {
  width: 200px;
  height: auto;
}
