.container {
  display: flex;
  height: 100%;
  max-width: 100%;
}

.sidebar {
  width: 250px;
  padding: 20px;
  border-right: 1px solid #3b3b3b;
  background-color: #f8f3ed;
  transition: width 0.3s;
  overflow: hidden;
  position: relative;
  flex-shrink: 0; /* Đảm bảo sidebar không co lại */
}

.sidebar.closed {
  width: 50px;
  padding: 10px;
}

.sidebar.open {
  margin-bottom: -50px;
}

.sidebar .toggle-button {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  padding: 10px;
  background-color: #000000;
  color: white;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.sidebar .toggle-button:hover {
  background-color: #848586;
}

h2,
h3 {
  margin: 0 0 10px;
}

.category-list,
.filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.category-list li,
.filter-list li {
  padding: 8px;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.category-list li:hover,
.filter-list li:hover {
  background-color: #1f1e1e;
  color: #fff;
}

.category-list li.active {
  font-weight: bold;
}

.sort-section {
  margin-bottom: 20px;
}

.sort-section label,
.filter-list label {
  display: block;
  margin-bottom: 5px;
}

.sort-section input[type="radio"],
.filter-list input[type="radio"] {
  margin-right: 10px;
}

.products {
  flex-grow: 1; /* Đảm bảo products chiếm hết không gian còn lại */
  padding: 20px;
  overflow-y: auto; /* Thêm overflow-y auto để cuộn sản phẩm */
}

.products h2 {
  margin-top: 0;
}

.products ul {
  list-style-type: none;
  padding: 0;
}

.products li {
  margin-bottom: 20px;
}

.product-card {
  background-color: #f9f9f9;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 270px; /* Điều chỉnh kích thước khung cho phù hợp với ảnh */
  margin: 10px; /* Khoảng cách giữa các khung */
  transition: transform 0.3s ease; /* Thêm hiệu ứng khi hover */
}

.product-card:hover {
  transform: scale(1.1); /* Phóng to ảnh khi di chuột vào */
}

.product-image {
  width: 248px; /* Kích thước mới của ảnh */
  height: 213px;
  border-radius: 5px;
  transition: transform 0.3s ease; /* Thêm hiệu ứng khi hover */
}

.product-card:hover .product-image {
  transform: scale(1.1); /* Phóng to ảnh khi di chuột vào */
}

.product-name {
  margin-top: 10px;
  font-weight: bold;
}

.product-price {
  color: #c88c46;
  margin-top: 5px;
}
