.productionstaff-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f3ed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 70px;
  position: relative;
  border-radius: 10px;
}

.logout-container4 {
  position: absolute; /* Take the logout container out of the document flow */
  right: 20px; /* Adjust the position to your needs */
  top: 50%;
  transform: translateY(-50%); /* Center it vertically */
}

.Btn4 {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--af-white);
}

/* plus sign */
.sign4 {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign4 svg {
  width: 17px;
}

.sign4 svg path {
  fill: var(--night-rider);
}

/* text */
.text4 {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--night-rider);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

/* hover effect on button width */
.Btn4:hover {
  width: 125px;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.Btn4:hover .sign4 {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}

/* hover effect button's text */
.Btn4:hover .text4 {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

/* button click effect */
.Btn4:active {
  transform: translate(2px, 2px);
}
