#manager-sidebar {
  width: 260px;
  max-height: 100%;
  padding: 20px;
  background-color: #f8f3ed;
  transition: width 0.3s ease;
  border-radius: 15px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.manager-sidebar-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manager-avatar-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  margin-top: 10px;
}

.manager-user-details {
  text-align: center;
}

.manager-user-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
  color: #333;
  white-space: nowrap; /* Ngăn chặn các chữ xuống hàng */
  overflow: hidden; /* Ẩn phần vượt quá */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm (...) nếu vượt quá */
}

.manager-user-role {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  white-space: nowrap; /* Ngăn chặn các chữ xuống hàng */
}

.manager-sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.manager-sidebar-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.manager-sidebar-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  background: none;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  white-space: nowrap; /* Ngăn chặn các chữ xuống hàng */
}

.manager-sidebar-button:hover {
  background-color: #ddd;
}

.manager-sidebar-list-item.active .manager-sidebar-button {
  background-color: #f0f0f0;
}

.manager-icon {
  margin-right: 10px;
}

.manager-logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.manager-logo-image {
  width: 200px;
  height: auto;
}
