.forgot-password {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 20px;
  padding: 30px 40px;
  text-align: center;
}

.forgot-password h1 {
  text-align: center; /* Căn tiêu đề vào giữa */
}

.forgot-password p {
  margin-bottom: 15px; /* Khoảng cách dưới cho đoạn văn bản */
}

.forgot-password input[type="email"],
.forgot-password input[type="password"],
.forgot-password input[type="text"] {
  width: 100%; /* Đặt chiều rộng của input thành 100% */
  padding: 10px;
  margin-bottom: 15px; /* Khoảng cách dưới cho input */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.forgot-password button {
  width: 30%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.forgot-password button:hover {
  background-color: #45a049;
}
