/* GemstoneSidebar.css */

.container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Set container height to viewport height */
  }
  
  .sidebar {
    width: 250px;
    background-color: #f8f8f8;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-height: 100vh; /* Limit sidebar height to viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .sidebar.closed {
    width: 50px;
    padding: 10px 5px;
  }
  
  .toggle-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .sort-section {
    margin-bottom: 20px;
  }
  
  h2,
  h3 {
    margin-bottom: 10px;
  }
  
  .gemstone-list,
  .filter-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .gemstone-list li,
  .filter-list li {
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .gemstone-list li.active {
    font-weight: bold;
    color: #007bff;
  }
  
  .filter-list label,
  .gemstone-list li {
    display: flex;
    align-items: center;
  }
  
  .filter-list input {
    margin-right: 5px;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .product-card {
    width: 180px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    text-align: center;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
  }
  
  .product-name {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .product-price {
    font-size: 12px;
    color: #555;
  }
  