.ProductDetails {
  max-width: 1200px; /* Adjusted for better centering */
  width: 100%;
  margin: 20px auto; /* Removed bottom margin */
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Softer shadow */
  border-radius: 15px; /* More rounded corners */
  background-color: #f9f9f9; /* Lighter background color */
}

.details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 30px 0;
  gap: 20px; /* Gap between elements */
}

.big-img {
  flex: 1 1 45%; /* Flex to ensure better responsiveness */
  max-width: 600px;
}

.big-img img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 15px; /* More rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow for image */
}

.product-details {
  flex: 1;
  padding-left: 20px;
}

.product-details h2 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 20px;
}

.product-details span {
  display: block;
  font-size: 22px;
  color: crimson;
  margin: 20px 0;
}

.product-details p {
  margin: 20px 0;
  color: #555;
  text-align: left;
}

.product-details button.cart {
  background: crimson;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  transition: background 0.3s ease-in-out;
}

.product-details button.cart:hover {
  background: #d40d0d;
}

.thumb {
  display: flex;
  cursor: pointer;
  margin: 20px 0; /* Adjusted margin for spacing */
}

.thumb img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 10px; /* Increased space between thumbnails */
  opacity: 0.6; /* Slightly more transparent */
  border-radius: 10px;
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

.thumb img.active {
  opacity: 1;
  border: 2px solid lightseagreen; /* More prominent border */
}

button {
  border-radius: 10px;
}

.product-info-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-info-table td {
  padding: 10px;
  border: 1px solid #e0e0e0;
}

.product-info-table td:first-child {
  font-weight: bold;
  text-align: left;
  background-color: #f9f9f9;
}
.index-title-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.index-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #f00;
  position: relative;
  z-index: 2;
}
