@keyframes slide-in {
    from {
        transform: translateX(120%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(120%);
    }
}

@keyframes progress {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.alert {
    display: flex;
    align-items: center;
    padding: 20px 25px;
    margin: 10px;
    border-radius: 5px;
    color: black;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: large;
    z-index: 1000;
    background-color: white;
    animation: slide-in 1s forwards;
}

.alert.closing {
    animation: slide-out 1s forwards;
}

.message {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    margin-right: 20px;
    margin-left: 8px;
}

.title {
    font-weight: bold;
}

.alert img {
    max-width: 35px;
    max-height: 35px;
    margin-right: 20px;
}

.close-btn {
    background: none;
    border: none;
    color: black;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
    opacity: 0.5;
}

.close-btn:hover {
    opacity: 1;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
}
