.customizer-container {
  font-family: Arial, sans-serif;
  color: #333;
  width: 90%; /* 90% of the page width */
  max-width: 1200px; /* Maximum width for large screens */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Padding for better spacing */
  box-sizing: border-box; /* Include padding in width calculation */
}

.CUS {
  font-family: Arial, sans-serif;
  color: #333;
  width: 90%; /* 90% of the page width */
  max-width: 1200px; /* Maximum width for large screens */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Padding for better spacing */
  box-sizing: border-box; /* Include padding in width calculation */
}

.main-content {
  text-align: center;
  display: flex;
  flex-direction: column; /* Ensure vertical stacking */

  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px; /* Add margin-bottom for spacing */
}

.subtitle {
  font-size: 20px;
  margin-bottom: 20px; /* Add margin-bottom for spacing */
}

.customize-options-wrapper {
  background-color: #f8f3ed;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px; /* Add margin-bottom for spacing */
  width: 100%; /* Ensure the wrapper takes full width */
}

.customize-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Full width of the container */
}

.option-section {
  display: flex;
  flex-direction: row; /* Align sections horizontally */
  justify-content: space-between; /* Space out the divs within the section */
  align-items: flex-start; /* Align items to the start */
  width: 100%; /* Full width of the section */
  margin-bottom: 20px; /* Add margin-bottom for spacing */
}

.option-section > div {
  flex: 1; /* Ensure divs take equal space */
  margin: 0 10px; /* Add margin for spacing between divs */
}

.tiltegemstone {
  margin-top: 20px;
  margin-bottom: 20px;
}
.left-aligned-heading {
  text-align: left; /* Hoặc 'right' nếu bạn muốn căn phải */
}

.options-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9; /* Màu nền nhạt cho khu vực */
  border-radius: 10px; /* Bo góc cho khu vực */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
}

.options-grid select {
  width: 100%; /* Chiều rộng đầy đủ */
  max-width: 300px; /* Chiều rộng tối đa */
  padding: 10px; /* Khoảng cách trong */
  font-size: 16px; /* Cỡ chữ lớn hơn một chút */
  border: 1px solid #ccc; /* Viền xám nhạt */
  border-radius: 5px; /* Bo góc cho select */
  background-color: white; /* Màu nền trắng */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Đổ bóng bên trong nhẹ */
  transition: border-color 0.3s, box-shadow 0.3s; /* Hiệu ứng chuyển tiếp */
}

.options-grid select:focus {
  border-color: #007bff; /* Đổi màu viền khi focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Đổ bóng khi focus */
}

.input-quantity {
  width: 100%; /* Chiều rộng đầy đủ */
  max-width: 300px; /* Chiều rộng tối đa */
  padding: 10px; /* Khoảng cách trong */
  font-size: 16px; /* Cỡ chữ lớn hơn một chút */
  border: 1px solid #ccc; /* Viền xám nhạt */
  border-radius: 5px; /* Bo góc cho select */
  background-color: white; /* Màu nền trắng */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Đổ bóng bên trong nhẹ */
  transition: border-color 0.3s, box-shadow 0.3s; /* Hiệu ứng chuyển tiếp */
}

.input-quantity:focus {
  border-color: #007bff; /* Màu viền khi focus */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25); /* Hiệu ứng bóng khi focus */
}

.grid-cols-5 {
  display: grid; /* Sử dụng CSS Grid để tạo bố cục lưới */
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Định nghĩa 5 cột, mỗi cột chiếm một phần bằng nhau của không gian có sẵn */
  gap: 8px; /* Khoảng cách giữa các cột và hàng trong lưới là 8px */
}
.grid-size-carat {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 6px;
}

.grid-carat-carat {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 6px;
}

.grid-size-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  border: 1px solid #dbdbdb;
  cursor: pointer;
  background-color: white;
}

.grid-type-gemstone {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 6px;
}

.grid-color-carat {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 6px;
}

.grid-clarity-carat {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 6px;
}

.col-size-selected {
  background-color: #c8363a;
  border: 1px solid #c8363a;
  color: #ffffff;
}

.gemstoneShape img {
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.gemstoneShape {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 27px;
  border: 1px solid #dbdbdb;
}

.col-shape-selected {
  background-color: #c8363a;
  border: 1px solid #c8363a;
}

.create-button {
  margin-top: 20px;
  margin-bottom: 20px; /* Add margin-bottom for spacing */
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.divider {
  margin: 20px 0; /* Add margin-top and margin-bottom for spacing */
  height: 1px;
  background-color: #ccc;
  width: 100%; /* Ensure the divider takes full width */
}

.model-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px; /* Add margin-top for spacing */
  margin-bottom: 20px; /* Add margin-bottom for spacing */
  width: 100%; /* Ensure the gallery takes full width */
}

.model-preview {
  width: 100%;
  height: 100px;
  background-color: #d3d3d3;
}

.view-more-button {
  margin-top: 10px;
  margin-bottom: 20px; /* Add margin-bottom for spacing */
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.tablegemstone {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.tablegemstone table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tablegemstone th,
.tablegemstone td {
  border: 1px solid #ddd;
  padding: 8px;
}

.tablegemstone th {
  background-color: #f2f2f2;
  text-align: left;
}

.tablegemstone tbody tr {
  cursor: pointer;
}

.tablegemstone tbody tr:hover {
  background-color: #f1f1f1;
}

.selected {
  background-color: #d3f4ff; /* Màu nền cho đá chính */
}

.selected-side {
  background-color: #ffd3d3; /* Màu nền cho đá phụ */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination .page-node {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.pagination .page-node.current {
  background-color: #c8363a;
  color: white;
  border-color: #c8363a;
}

.pagination .page-node:hover {
  background-color: #e0e0e0;
}
